:root{
    --color:  rgb(9, 24, 53);
    --page-margin: 0.2rem;
    --serif: sans-serif
    --border: 2px
}

html {
    background-color: rgb(70, 116, 207);
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    color: #fff;
    font-family: var(--serif);
}

header {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 1rem;
}

header > nav > ul {
    list-style-type: none;
    display: inline-flex;
}

header > nav > ul > li::after{
    content: '|';
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: white;
}

header > nav > ul > li:last-child::after {
    content: unset;
    margin-right: unset;
}

#about-me,
#projects,
#contact-me {
    padding: 2rem;
}

#about-me img {
    margin: 0 auto;
    position: relative;
}

#about-me h2,
#projects h2,
#contact-me h2 {
    border-bottom: var(--border);
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}


@media screen and (min-width: 1024px) {
    html {
        font-size: 18px;
    }
}
